<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head %>
</head>
<body>
  <div class="container">
    <div class="row">
      <header>
<% include ./partials/header %> 
</header>

  <h1>Contacts</h1>
  <div>
    <% contacts.forEach(function(contact){ %>
      <div>
       <a href='contacts/<%= contact.id %>'> <%= contact.name %> </a>
       <button class="btn"><a href=''> DELETE </a></button>
      </div>
    <% }) %>
    <button><a href="/contacts/new"> Add Contact </a></button>    
  </div>
  <footer>
  <% include ./partials/footer %>
  </footer>
  </div>
  </div>
</body>
</html>
