<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <link href="style.css" type="text/css" rel="stylesheet"  />
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
<head>
  <% include ./partials/head %>
</head>

<body class="centered-wrapper">
  <div class="centered-content">
  <header>
    <% include ./partials/header %>
  </header>
  <h1>Contacts</h1>
  <ul>
    <% contacts.forEach(function(contact){ %>
      <li>
        <a href='contacts/<%= contact.id %>' style="color:#002653">
          <%= contact.name %>
        </a>
        <a class="delete" href='' style="color:#D0011B"> X </a>
      </li>
      <% }) %>
  </ul>
  <footer>
    <% include ./partials/footer %>
  </footer>
  </div>
</body>

</html>


