<!DOCTYPE html>
<html>
<head>
    <% include ./partials/head %>
</head>
<body>
<header>
<% include ./partials/header %> 
</header>
  <h1>Contacts</h1>

  <div class="contact-list">
    <% contacts.forEach(function(contact){ %>
      <div>
       <a href='contacts/<%= contact.id %>'> <%= contact.name %> </a>
       <button><a href=''> DELETE </a></button>
      
      </div>
    <% }) %>
  </div>
  <div> 
    <button><a href="/contacts/new"> Add Contact </a></button>    
  </div>
  <footer>
  <% include ./partials/footer %>
  </footer>
</body>
</html>
