<!DOCTYPE html>
  <html>
    <head>
      <title>Contacts</title>
      <link rel="stylesheet" type="text/css" href="/style.css">
        <script type="text/javascript" src="/script.js"></script>
</head>
      <body>

        <h1>Add New Contact</h1>

      <form action="/contacts/new" method="post">
        <label for="name">Name: </label>
        <input id="name" type="text" name="name_field" value="Full Name"></br>
        <label for="email">Email: </label>
        <input id="email" type="email" name="email" value="youremail@email.com"></br>
        <label for="phone">Phone: </label>
        <input id="phone" type="tel" name="phone" pattern="[0-9]{9}" value=""></br>
        <label for="Street">Street: </label>
        <input id="street" type="text" name="name_field" value=""></br>
        <label for="city">City: </label>
        <input id="city" type="text" name="city" value=""></br>
        <label for="state">State: </label>
        <input id="state" type="text" name="state" value=""></br>
        <label for="Birthday">Birthday: </label>
        <input id="birthday" type="text" name="state" value=""></br>
        <label for="state">State: </label>
        <input id="state" type="text" name="state" value=""></br>
        <label for="Zip">Zip: </label>
        <input id="zi[" type="number" name="zip" value=""></br>
        
</form>
  </div>

      </body>
</html>